<div
  class="border border-success p-2 mb-2 rounded border-3 container mt-5 fondo"
  style="width: 40%"
>
  <form>
    <div class="mb-3">
      <!--  <label for="exampleInputEmail1" class="form-label">Email address</label>-->

      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Ingresa tu nombre"
      />
    </div>
    <div class="d-flex flex-row-reverse">
      <div class="p-2"><a href="#" class="rainbow-button" alt="Enviar"></a></div>

    </div>
    
  </form>
</div>
<router-outlet></router-outlet>
